<h2 class="countcom" pull-right> This post has <%= pluralize(@comments.count, "Comment") %></h2>
<% @comments.each do |comment| %>
	
    <% @ccc = comment.content.html_safe %> 
    <div class="comment-view">
        <h4><%= current_user.email %></h4>
        <p class="comment"><%= @ccc%> </p>     
    
	
        <div class="editbtn">
    		<%= link_to "delete ", [comment.post, comment], class: 'comment-btn', method: :delete, data: { confirm: 'Are you sure?' } %>
    		
    	</div>
    </div>
<% end %>

<div class="comment-form">
    <%= render 'comments/form' %>
</div>



<!-- <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div> -->