<div class="payment_wrapper">
	 <div class="col-lg-6 col-lg-offset-3">
		 <div class="pay_form">
		 		<h2>Payment</h2>
		 	<%= form_for @payments, url: {action: "create"} do |f| %>
		 		<div class="field">
		 			<%= f.text_field :username, autofocus: true, placeholder: 'Username' %>
		 		</div>
		 		<div class="field">
		 			<%= f.text_field :firstname, placeholder: 'Username' %>
		 		</div><div class="field">
		 			<%= f.text_field :lastname, placeholder: 'Username' %>
		 		</div><div class="field">
		 			<%= f.text_field :phonenumber, placeholder: 'Phone NUmber' %>
		 		</div><div class="field">
		 			<%= f.text_field :email, placeholder: 'Email' %>
		 		</div>

		 		<div class="actions">
   					 <%= f.submit %>
  				</div>
		 	<% end %>
		 </div>
	 </div>
</div>
